* {
  box-sizing: border-box;
  font-family:'Dosis', sans-serif;
}
body {
  background-color: black;
  background-image: url(https://i.imgur.com/b4m7vyE.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  font-size: 5vh;
  font-weight: bold;
  color: rgb(65, 140, 202);
  text-align: center;
}

#controls {
  padding-top: 18vh;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 5% 5% 5% 5% 1fr 5% 5% 5% 5%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 15px;
}

div {
  color: white;
  height: 60px;
  text-align: center;
  border: 3px solid rgb(120, 183, 235);
  border-radius: 10%;
  background-color: rgb(22, 11, 100);
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

#howto {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
#about {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
#play {
  margin-top: 5vh;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
  height: 30vh;
  border-width: 6px;
  border-radius: 55%;
  opacity: 0.9;
  text-align: center;
  font-size: 5vmin;
  align-self: stretch;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}
.color1 {
  background-color: rgb(101, 86, 212);
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}



#contact {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;

}
#discuss{
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
}
a {
  color: white;
  text-decoration: none;
}

#popup {
  position: absolute;
  top: 14vh;
  right: 18vw;
  height: 70vh;
  width: 64vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  border-radius: 5%;
  visibility: hidden;
}
#popup > h3 {
  text-align: center;
  padding: 3vh 0 3vh 0;
  width: 100%;
  font-weight: 700;
  background-color: rgb(101, 95, 95);
  font-size: 3.5vmin;
  
}
#popup > p {
  width: 90%;
  text-align: center;
  font-size: 3vmin;
}

#close {
  color: white;
  background-color: rgb(75, 72, 72);
  margin-bottom: 25px;
  width: 40%;
  height: 50px;
  border-radius: 15%;
  border: .5px solid rgb(75, 72, 72);
  display: flex;
  justify-content: center;
  align-items: center;
}
#close:hover {
  background-color: rgb(88, 86, 86);
  border-color: rgb(86, 86, 86);
}