* {
  box-sizing: border-box;
  font-family:'Dosis', sans-serif;
}
body {
  background-image: url(https://i.imgur.com/b4m7vyE.jpg);
  height: 100vmin;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
header {
  font-family:'Dosis', sans-serif;
  font-size: 5vh;
  font-weight: bold;
  color: rgb(65, 140, 202);
}
button {
  background-color: grey;
}
button:hover {
  background-color: lightgray;
}
#togglehints {
  background-color: rgb(66, 64, 64);
  opacity: 0.6;
  height: 10vh;
  width: 5vw;
  position: absolute;
  top: 5vh;
  right: 0vw;
  color: rgb(65, 140, 202);
  font-size: 4vh;
  font-family:'Dosis', sans-serif;
  text-align: center;
  padding-top: 2vh;
}
.showtogglehints {
  right: 10vw;
}
#hintbar {
  position: absolute;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(66, 64, 64);
  opacity: 0.6;
  width: 10vw;
  visibility: hidden;
}
#hintbar > button {
  height: 5vh;
  width: 8vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#scorebar {
  align-self: flex-start;
  display: flex;
  position: absolute;
  left: 5vmin;
  bottom: 20vmin;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}
#scorebar > div {
  border: 1px solid rgb(65, 140, 202);
  border-radius: 15%;
  padding: 0;
  margin: 1.5px;
  height: 5vh;
  width: 7vw;
  color: white;
  text-align: center;
  font-size: 4vh;
}
#reset {
  position: absolute;
  bottom: 4vmin;
  left: 4vmin;
  
}
#difficulty {
  position: absolute;
  bottom: 4vmin;
  right: 4vmin;
}
#popup {
  position: absolute;
  top: 20vh;
  right: 28vw;
  height: 44vh;
  width: 44vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  border-radius: 5%;
  visibility: hidden;
}
#popup > h3 {
  text-align: center;
  width: 100%;
  font-weight: 700;
  background-color: rgb(101, 95, 95);
  font-size: 4vh;
}
#popup > div {
  width: 90%;
  text-align: center;
  font-size: 3vh;
}
#gamespace {
  margin-top: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#question {
  width: 60vw;
  height: 35vh;
  border: 6px solid rgb(65, 140, 202);
  border-radius: 15%;
  background-color: rgb(14, 39, 55);
  opacity: 0.9;
  text-align: center;
  color: white;
  font-size: 5vmin;
  font-family:'Dosis', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
#answerspace {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: space-around;
  margin-top: 10vh;;
}
.answer {
  height: 7vh;
  width: 20vw;
  border: 3px solid rgb(65, 140, 202);
  border-radius: 10%;
  background-color: black;
  opacity: 0.8;
  margin-top: 2vh;
  color: white;
  text-align: center;
  font-size: 3vh;
  font-family:'Dosis', sans-serif;
}
.answer:hover {
  border: 3px solid gray;
  background-color: grey;
  color: black;
}

#ready {
  visibility: hidden;
  font-size: 10vh;
  font-family: 'Sigmar', cursive;
  position: absolute;
  top: 25vh;
  text-align: center;
  color: white;
}
#haze {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  background-color: rgb(62, 60, 60);
}
#play {
  border-radius: 100%;
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 45%;
  right: 45vw;
}